@import "tailwindcss";

@theme {
  --color-adultdesu-navbartext: #E97991;
  --color-adultdesu-backgroundbox: #181818;
  --color-adultdesu-background-hover: #e34265;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #E97991;
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #E97991;
  }
}


body {
  background-color: #000000;
  user-select: none;
}

/* Styling utama untuk Paginator */
.p-paginator {
  background-color: transparent; /* Biar transparan */
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  gap: 1px;
}

/* Styling untuk tombol halaman */
.p-paginator .p-paginator-pages .p-paginator-page {
  min-width: 3rem;
  height: 3rem;
  background-color: transparent; /* Warna background */
  color: #E97991; /* Warna teks */
  padding: 1px;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover effect */
.p-paginator .p-paginator-pages .p-paginator-page:hover {
  background-color: #E97991; /* Warna lebih gelap saat hover */
  color: #ffffff;
}

/* Active page */
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background-color: #E97991; /* Warna lebih gelap untuk aktif */
  font-weight: bold;
  color: #ffffff;
  transform: scale(1.05);
}

/* Styling untuk tombol Next & Prev */
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-prev {
  min-width: 3rem;
  height: 3rem;
  background-color: transparent;
  color: #ffffff;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-last {
  min-width: 2rem;
  height: 2rem;
  background-color: transparent;
  color: #ffffff;
  border-radius: 50%;
  margin: 0px 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.p-paginator .p-paginator-first:hover,
.p-paginator .p-paginator-last:hover {
  background-color: #ffffff;
  color: #000000;
}

/* Hover effect untuk Next & Prev */
.p-paginator .p-paginator-next:hover,
.p-paginator .p-paginator-prev:hover {
  background-color: #ffffff;
  color: #000000;
}

/* Disabled state */
.p-paginator .p-paginator-next.p-disabled,
.p-paginator .p-paginator-prev.p-disabled {
  background-color: #aaa; /* Warna abu-abu kalau disabled */
  cursor: not-allowed;
}
